
.main-login{

    height: 100vh;
    width: 100vw;
    overflow-x:hidden;


.login-contain{
    height: 75vh;
    width: 70%;
    background:linear-gradient(to right bottom,rgba(240, 240, 239, 0.919),rgba(238, 238, 238, 0.3));
    border-radius: 1.2rem;
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .link{
        text-decoration: none;        
        color:var(--primary-color);
    }
    .left-side, .right-side{
        margin: 2rem 2rem;
        box-shadow: 0.5rem 0.5rem 6rem -1rem rgb(58, 57,57);
        height: 80%;
        width:100%;
    }
    .left-side{
        display: flex;     
        flex-direction: column;
        align-items: center;
        justify-content: center;
      .img-class{
         height:6rem;
       .img-icon{
        font-size:4.5rem;
       }
      }
        input{
             display: block;
             border:none;
             height: 2.5rem;
             width: 100%;
             margin: auto;
             margin-bottom: 1.5rem;
             padding: 0.2rem 1rem;
             color: gray;
             transition: all 0.1s ease-in;
          &:focus{
            outline: none;
            border: none;
             }
             &:hover{
                outline:0.5px solid var(--secondary-color);
                box-shadow:2px 2px 9px -1px var(--secondary-color);
             }
         }
        
        label{
            display: block;
            text-align: left;
            width: 78%;
            margin:auto;
            float: left;
            font-size: large;
            color:black;
            margin-bottom: 0.5rem;
        }
        #sub_butt{           
            width: 100%;
            background: var(--primary-color);
            color: white;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            padding:0.6rem 1rem;
            transition: all 0.2 ease;
            &:hover{
                box-shadow:4px 3px 9px -1px rgb(46, 44, 44);
                transform: translateY(-5px);
           }      
        }
         
    }
   
    .right-side{
        .welcomeNote{
            h3{
                margin-left:2rem;
                margin-top: 1rem;
                float:left;
                font-weight:bolder;
                color:black;
                margin-bottom: 2.5rem;
            }
        }
        .welcomeImg{
            height: 80%;
            width: 70%;
            margin:0rem auto;
            #wel-img-id{
                width:100%;
                border-radius: 50%;
                object-fit: center;
            }
        }
    }

  }
}
@media(max-width:1000px){
    .main-login{
       display:flex;
       width:600px;
       margin-top:50px;
       height:100vh;
       margin-left:-100px;
       padding:0;
       justify-content: flex-start;
     
    }
  .login-contain{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 600px;
    margin:0;
    padding:0;
  }
  .left-side, .right-side{
    justify-content: flex-start;
    width:800px;
  }
    
     


}